// Use this file as template for secrets.h
// Fill your settings and credentials

#include <pgmspace.h>

#define SECRET
#define THING_NAME "your thing name"

static const char MQTT_HOST[]  = "<your mqtt backend endpoint here>";

const int TIME_ZONE = +2;

static const char CA_CERT[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
your CA_CERT here
-----END CERTIFICATE-----
)EOF";

static const char DEVICE_CERT[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
Your client certificate here
-----END CERTIFICATE-----
)EOF";

static const char DEVICE_KEY[] PROGMEM = R"EOF(
-----BEGIN RSA PRIVATE KEY-----
Your client rpivate key here
-----END RSA PRIVATE KEY-----
)EOF";


constexpr char ssid[] = "<your wifi ssid>";
constexpr char pass[] = "<your wifi password>";
